<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.meilituibian.web.mapper.AdminUserMapper">
    <select id="getAdminUserByUser" resultType="AdminUser">
        select id, user, password, email, role_id as roleId from Admin_User where user = #{user} and status=1
    </select>

    <select id="getAdminUserById" resultType="AdminUser">
        select id, user, password, email, role_id as roleId from Admin_User where id = #{id}
    </select>

    <select id="getAllAdminUser" resultType="AdminUser">

        SELECT a.id, a.user, a.password, a.email, a.role_id  as roleId, b.role_name as roleName,a.user_name as userName FROM admin_user a
left join admin_role b on b.id = a.role_id

    </select>

    <insert id="addNewAdminUser"  parameterType="AdminUser" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into admin_user (user,password,email,role_id,user_name) values (#{user},#{password},#{email},#{roleId},#{userName})
    </insert>

    <update id="updateAdminUser"   parameterType="AdminUser" >
        update  admin_user set user=#{user},email=#{email},role_id=#{roleId},user_name=#{userName} where id=#{id}
    </update>
</mapper>