<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.meilituibian.web.mapper.AdvertismentMapper">
    <insert id="addNewAdvertisment" parameterType="Advertisment">
      insert into advertisment (code,path,status,link) values (#{code},#{path},#{status},#{link})
    </insert>


    <update id="updateAdvertisment" parameterType="Advertisment">
        update advertisment set path=#{path},code=#{code},link=#{link},status=#{status} where id=#{id}
    </update>

    <update id="updateAdvertisMentStatus">
        update advertisment set status=#{status} where id=#{id}
    </update>

    <delete id="deleteAdvertisment" >
        delete from advertisment where id=#{id}
    </delete>

    <select id="getAdvertisment" resultType="Advertisment" parameterType="Advertisment">
        select a.*,b.name from advertisment  a
        left join adv_position b on b.code=a.code
        where 1=1
        <if test="code!=null and code!=''">
            and code='#{code}'
        </if>
        <if test="status!=null">
            and status=#{status}
        </if>
    </select>

    <select id="getAdvertismentById" resultType="Advertisment" >
        select * from advertisment where 1=1 and id=#{id}
    </select>


</mapper>
