<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.meilituibian.web.mapper.WxUserMapper">
     <select id="userList" resultType="WxUser">
         SELECT user_id as userId,open_id as openId,user_name as userName,nick_name as nickName,shop_name as shopName,contact,
         create_time as createTime,user_type as userType,contract_no as contractNo,parent,number_id as numberId,phone,`status`,
         taxpayer_code as taxpayerCode,business_license as businessLicense,job_title as jobTitle,update_time as updateTime FROM wx_user WHERE `status`=1
          <choose>
              <when test="jobTitle != null">
                   AND job_title = #{jobTitle}
              </when>
              <otherwise>
                  AND job_title > -1
              </otherwise>
          </choose>
     </select>

     <select id="getWxUserById" resultType="WxUser">
         SELECT user_id as userId,open_id as openId,user_name as userName,nick_name as nickName,shop_name as shopName,contact,
         create_time as createTime,user_type as userType,contract_no as contractNo,parent,number_id as numberId,phone,`status`,
         taxpayer_code as taxpayerCode,business_license as businessLicense,job_title as jobTitle,update_time as updateTime FROM wx_user WHERE
         user_id = #{userId}
     </select>

     <update id="update" parameterType="WxUser">
         update wx_user
         <set>

             <if test="contact != null">contact=#{contact},</if>
             <if test="contractNo != null">contract_no=#{contractNo},</if>
             <if test="phone != null">phone=#{phone},</if>
             <if test="numberId != null">number_id=#{numberId},</if>
             <if test="taxpayerCode != null">taxpayer_code=#{taxpayerCode},</if>
             <if test="updateTime != null">update_time=#{updateTime},</if>
             <if test="businessLicense != null">business_license=#{businessLicense},</if>
         </set>
         where user_id=#{userId}
     </update>
</mapper>