<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head::head">

</head>
<body class="sidebar-mini fixed">
<div class="wrapper">
    <!-- Navbar-->
    <header th:replace="common/header :: header"></header>
    <!-- Side-Nav-->
    <aside th:replace="common/menu :: menu"></aside>

    <div class="content-wrapper">
        <div class="page-title">
            <div>
                <p>文章列表</p>
            </div>
            <div>
                <ul class="breadcrumb">
                    <li><i class="fa fa-home fa-lg"></i></li>
                    <li>文章管理</li>
                    <li><a href="#">文章列表</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <div class="card">
                    <form class="form-horizontal" th:action="@{/admin/articles(m=2)}" method="get">
                        <label class="col-lg-2">文章状态</label>
                    <div class="col-lg-4">
                        <select class="form-control" name="status" id="status">
                            <option value="">所有</option>
                            <option value="0">未发布</option>
                            <option value="1">已发布</option>
                        </select>

                    </div>
                    <div class="col-lg-4">
                        <button class="btn btn-primary" type="submit" id="search">查询</button>
                    </div>
                    </form>

                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>标题</th>
                            <th>作者</th>
                            <th>来源</th>
                            <th>创建时间</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="article:${list}">
                            <td th:text="${article.title}"></td>
                            <td th:text="${article.author}"></td>
                            <td th:text="${article.source}"></td>
                            <td th:text="${#dates.format(article.createDate,'yyyy-MM-dd')}"></td>
                            <td th:text="${article.status == 0 ? '未发布':'已发布'}"></td>
                            <td>
                                <button type="button" class="btn btn-default btn-sm publish" th:if="${article.status == 0}" th:data-id="${article.id}">发布</button>
                                <button type="button" class="btn btn-default btn-sm edit" th:if="${article.status == 1}" th:data-id="${article.id}">编辑</button>
                                <button type="button" class="btn btn-default btn-sm delete" th:data-id="${article.id}">删除</button>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Javascripts-->
<div th:replace="common/foot :: foot"></div>
</body>
</html>