<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head::head">

</head>
<body class="sidebar-mini fixed">
<div class="wrapper">
    <!-- Navbar-->
    <header th:replace="common/header :: header"></header>
    <!-- Side-Nav-->
    <aside th:replace="common/menu :: menu"></aside>

    <div class="content-wrapper">
        <div class="page-title">
            <div>
                <p>项目列表</p>
            </div>
            <div>
                <ul class="breadcrumb">
                    <li><i class="fa fa-home fa-lg"></i></li>
                    <li>项目管理</li>
                    <li><a href="#">项目列表</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <div class="card">
                    <form class="form-horizontal" th:action="@{/admin/project/list}" method="get">
                        <label class="col-lg-2">项目类别</label>
                    <div class="col-lg-4">
                        <select class="form-control" name="categoryId" id="categoryId">
                            <option value="">所有</option>
                            <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                        </select>

                    </div>
                    <div class="col-lg-4">
                        <button class="btn btn-primary" type="submit" id="search">查询</button>
                    </div>
                    </form>

                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>项目名称</th>
                            <th>简介</th>
                            <th>价格</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="project:${projects}">
                            <td th:text="${project.projectId}"></td>
                            <td th:text="${project.categoryName}"></td>
                            <td th:text="${#strings.abbreviate(project.shortDesc,20)}" th:title="${project.shortDesc}"></td>
                            <td th:text="${project.minPrice} + ' - ' + ${project.maxPrice}"></td>
                            <td th:text="${project.status}"></td>
                            <td><a th:href="@{/admin/project/page?m=2}">更新</a>&nbsp;<a th:href="@{/admin/project/page?m=3}">查看</a></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Javascripts-->
<div th:replace="common/foot :: foot"></div>
</body>
</html>