<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head::head">

</head>
<body class="sidebar-mini fixed">
<div class="wrapper">
    <!-- Navbar-->
    <header th:replace="common/header :: header"></header>
    <!-- Side-Nav-->
    <aside th:replace="common/menu :: menu"></aside>

    <div class="content-wrapper">
        <div class="page-title">
            <div>
                <p>业务员列表</p>
            </div>
            <div>
                <ul class="breadcrumb">
                    <li><i class="fa fa-home fa-lg"></i></li>
                    <li>业务员管理</li>
                    <li><a href="#">业务员列表</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <div class="card">
                    <form class="form-horizontal" th:action="@{/users/list(m=2)}" method="get">
                        <label class="col-lg-2">查询条件</label>
                    <div class="col-lg-4">
                        <select class="form-control" name="jobTitle" id="jobTitle">
                            <option value="">所有</option>
                            <option value="0">见习导师</option>
                            <option value="1">银牌导师</option>
                            <option value="2">金牌导师</option>
                            <option value="3">钻石导师</option>
                        </select>

                    </div>
                    <div class="col-lg-4">
                        <button class="btn btn-primary" type="submit" id="search">查询</button>
                    </div>
                    </form>

                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>姓名</th>
                            <th>昵称/店名</th>
                            <th>身份证号</th>
                            <th>加入时间</th>
                            <th>联系电话</th>
                            <th>职位</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user:${users}">
                            <td th:text="${user.userName}"></td>
                            <td th:text="${user.nickName}"></td>
                            <td th:text="${user.numberId}"></td>
                            <td th:text="${#dates.format(user.createTime,'yyyy-MM-dd')}"></td>
                            <td th:text="${user.phone}"></td>
                            <td th:text="${user.jotTitleName}"></td>

                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Javascripts-->
<div th:replace="common/foot :: foot"></div>
<script th:src="@{/js/app/article.js}"></script>
</body>
</html>